.card-pack {
    gap: 8.5em;
    justify-content: center;
    margin-top: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    perspective: 1000px;
    width: 8em;
    height: 12.25em;
    transform-style: preserve-3d;
    transform: translateX(-50%) translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
}

.card__title {
    font-size: 1em;
    margin: 0;
    color: var(--brown-extra-dark);
}

.card__description {
    font-size: 0.75em;
    margin: 0;
    color: var(--brown-extra-dark);
}

.card__icon {
    height: 50px;
    width: 50px;
    object-fit: contain;
    font-size: 1em;
    color: var(--brown-extra-dark);
}

.card-pack__background {
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 389px) {
    .card-pack {
        gap: 9em;
    }
}

@media only screen and (min-width: 768px) {
    .card {
        width: 10.5em;
        height: 16em;
    }

    .card-pack {
        gap: 12em;
    }

    .card__icon {
        height: 70px;
        width: 70px;
    }

    .card__title {
        font-size: 1.2em;
        margin: 0;
    }

    .card__description {
        font-size: 0.8em;
    }
}

    @media only screen and (min-width: 1600px) {
        .card {
            width: 12em;
            height: 18.25em;
        }

        .card-pack {
            gap: 15em;
        }

        .card__icon {
            height: 100px;
            width: 100px;
        }

        .card__title {
            font-size: 1.4em;
            margin: 0;
        }

        .card__description {
            font-size: 1em;
        }
    }

    .card.flipped {
        animation: rotateXAnimation 1.5s forwards;
    }

    @keyframes rotateXAnimation {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(0deg) scale(1);
        }

        30% {
            transform: translateX(-50%) translateY(-10%) rotateX(0deg) scale(1.05);
        }

        70% {
            transform: translateX(-50%) translateY(-10%) rotateX(180deg) scale(1.1);
        }

        100% {
            transform: translateX(-50%) translateY(-45%) rotateX(180deg) rotateZ(-5deg) scale(1);
        }
    }

    .card--inner {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }

    .card--front,
    .card--back {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 1em;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1.25em;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    .card--back {
        transform: rotateX(0deg);
    }

    .card--front {
        transform: rotateX(180deg);
    }

    .card.disabled {
        opacity: 0.5;
        pointer-events: none;
    }