.index-page {
    position: relative;
    overflow: hidden;
}

    .index-page::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../Images/desktopview.jpg);
        background-position: center;
        background-size: cover;
        filter: blur(0.5px);
        z-index: -1;
    }

    .index-page::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.15);
        mix-blend-mode: multiply;
    }

.index-page > * {
    position: relative; 
    z-index: 2;
}


.index__header__container {
    background-image: url(../Images/paper-title-background.png);
    background-size: cover;
    background-position: center;
    width: 17em;
    height: 7em;
    text-align: center;
    margin-top: 5vh;
}


.index__header {
    font-size: 3em;
    text-wrap: nowrap;
    font-family: 'Jim Nightshade';
    font-weight: 500;
}

.index__start-button {
    background-color: var(--brown-dark);
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10vh;
    transition-duration: 0.3s
}

.index__start-button:hover {
    background-color: var(--brown);
}


@media only screen and (max-width: 768px) {
    .index-page::after {

        background-color: rgba(0, 0, 0, 0.0);
    }
    .index-page::before {
        background-image: url(../Images/mobileviewextended.jpg);
    }

}