.index-page {
    background-image: url(../Images/location-shipwreck.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.index__header__container {
    background-image: url(../Images/paper-title-background.png);
    background-size: cover;
    background-position: center;
    padding: 0 5em;
}

.index__header {
    font-size: 3em;
    text-wrap: nowrap;
    font-family: 'Jim Nightshade';
    font-weight: 500;
}

.index__start-button {
    background-color: var(--brown-dark);
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em 1.5em;
    border-radius: 15px;
    margin-top: 2em;
    transition-duration: 0.3s
}

.index__start-button:hover {
    background-color: var(--brown-extra-dark);
}