.toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5em;
    height: 5.5em;
    position: absolute;
    top: 15%;
    padding: 0.4em;
    box-sizing: border-box;
    border: solid var(--black);
    top: 9em;
}

.toggler:hover {
    cursor: pointer;
}

.toggler__icon {
    width: 100%;
    object-fit: contain;
    pointer-events: none;
}

.map__toggler {
    right: 0;
    background: linear-gradient(to bottom right, var(--brown-extra-light), var(--beige-dark, #E6D5CE));
    border-radius: 30px 0 0 30px;
    border-width: 3px 0px 3px 3px;
}

.inventory__toggler {
    left: 0;
    background: linear-gradient(to bottom left, var(--brown-extra-light), var(--beige-dark, #E6D5CE));
    border-radius: 0 30px 30px 0;
    border-width: 3px 3px 3px 0px;
}

.map__container {
    border-radius: 20px 0 0 20px;
    display: grid;
    right: -100%;
    top: 9em;
    grid-template-columns: 1fr;
    grid-auto-rows: 65px 420px auto;
    position: fixed;
    width: 90%;
    max-width: 450px;
    background: white;
    border: solid var(--black);
    border-width: 3px 0 3px 3px;
    transition-duration: 0.5s;
    z-index: 3 !important; /* kvůli přepsání z-index 2 */
    overflow: hidden;
}

.map__container__enabled {
    right: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

.map__header__section {
    padding: 1em;
    background-color: var(--brown-extra-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

.inventory__header__section {
    padding: 1em;
    background-color: var(--brown-extra-light);
    display: flex;
    align-items: center;
    border-bottom: 3px solid black;
    
}

.map__header__close-button, .inventory__header__close-button {
    object-fit: contain;
    height: 30px;
    width: 30px;
}

.map__header, .inventory__header {
    font-size: 2em;
    margin: 0;
    font-weight: 600;
}

.map__image__section {
    background-image: url(/Images/Icons/game-map.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.map__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.location__tag {
    margin: 0;
    position: absolute;
    padding: 0.25em 1em;
    border-radius: 3px;
}

.location__tag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    pointer-events: none;
    border-radius: 3px;
}

.location__tag:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
}

.tag--green {
    background-color: var(--green);

}

.tag--yellow {
    background-color: var(--yellow);
}

.tag--red {
    background-color: var(--red);
}

.tag--shipwreck {
    top: 38%;
    left: 10%
}

.tag--beach {
    bottom: 20%;
    left: 25%
}

.tag--field {
    bottom: 28%;
    right: 25%
}

.tag--forest {
    top: 33%;
    left: 38%
}

.tag--cave {
    top: 35%;
    right: 12%
}

.tag--deep-forest {
    top: 12%;
    right: 25%
}

.map__description__section {
    background-color: var(--beige);
    padding: 1em;
}

.map__description {
    font-family: 'Jim Nightshade';
    font-size: 1.15em;
    margin: 0;
}

@media only screen and (min-width: 1600px) {
    .toggler {
        display: none;
    }
    .map__container {
        width: 420px;
        top: 20%;
        right: 0;
    }
    .map__header__close-button {
        opacity: 0;
    }
}

@media only screen and (max-width: 400px) {
    .toggler {
        top: 8em;
    }

    .map__container {
        top: 8em;
    }

}

.map-overlay, .inventory-overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100%;
    z-index: 3 !important;
    transition-duration: 0.5s;
}

@media only screen and (max-width: 1599px) {
    .map-overlay--active, .inventory-overlay--active {
        visibility: visible;
        opacity: 1;
    } 
}


.map__header__close-button, .inventory__header__close-button {
    width: 30px; 
    height: 30px; 
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.map__header__close-button::before,
.map__header__close-button::after, .inventory__header__close-button::before, .inventory__header__close-button::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    top: 50%;
    left: 0;
    background-color: black;
}

.map__header__close-button::before, .inventory__header__close-button::before {
    transform: rotate(45deg);
}

.map__header__close-button::after, .inventory__header__close-button::after {
    transform: rotate(-45deg);
}


.inventory__container {
    border-radius: 0 20px 20px 0;
    display: grid;
    left: -100%;
    top: 9em;
    grid-template-columns: 1fr;
    grid-auto-rows: 65px auto;
    position: fixed;
    width: 90%;
    max-width: 400px;
    background-color: var(--beige);
    border: solid var(--black);
    border-width: 3px 3px 3px 0;
    transition-duration: 0.5s;
    z-index: 3 !important;
    overflow: hidden;
}

.inventory__container__enabled {
    left: 0;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.5);
}

.inventory__header {
    margin-left: auto;
    margin-right: auto;
}

.inventory__item__name {
    text-transform: capitalize;
}

@media only screen and (min-width: 1600px) {

    .inventory__container {
        width: 420px;
        top: 20%;
        left: 0;
    }

    .inventory__header__close-button {
        opacity: 0;
    }
}

.inventory__items__section {
    padding: 0.5em;
    gap: 0.25em;
    display: flex;
    flex-direction: column;
}
.inventory__item {
    display: grid;
    grid-template-columns: 2em 3em minmax(auto, 13em) 5em; 
    grid-auto-rows: auto;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
}

.inventory__item__count {
    margin:0;
    margin-left: 0.25em;
    font-size: 1.5em;
    font-weight: bold;
}

.inventory__item__icon {
    height: 2em; 
}

.inventory__item__name {
    margin-right: auto;
}

.inventory__item__info {
    display: flex;
    flex-direction: column;
}

.inventory__item__info__description {
    font-size: 0.7em;
}
.inventory__item__info__name {
 font-weight: bold;
}
.inventory__item__remove-button {
    padding: 5px 10px;
    background-color: var(--brown);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inventory__item__remove-button:hover {
    background-color: #c9302c;
}

.inventory__capacity{
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-weight: bold;
    margin-left: 1em;
    font-size: 0.9em;
    height: min-content;
}
.inventory__capacity img{
    height: 1.5em
}
    .inventory__capacity p {
        margin: 0;
    }


.materials-list {
    list-style: none;
    padding: 0.15em;
    display: flex;
    margin: 0;
    gap: 8px
}

.materials-list li {
    display: flex;
    align-items: center;
    position: relative;
}

.material-amount {
    position: absolute;
    bottom: 8px;
    left: 5px;
}

.material-icon {
    height: 2em;
    width: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2em;
}


    .material-icon.wood {
        background-image: url('/Images/icons/wood.png');
    }

    .material-icon.stone {
        background-image: url('/Images/icons/stone.png');
    }

    .material-icon.iron {
        background-image: url('/Images/icons/iron.png');
    }

    .material-icon.rope {
        background-image: url('/Images/icons/rope.png');
    }

    .material-icon.food {
        background-image: url('/Images/icons/food.png');
    }

    .material-icon.wool {
        background-image: url('/Images/icons/wool.png');
    }

    .material-icon.bamboo {
        background-image: url('/Images/icons/bamboo.png');
    }

.inventory__shipbuild {
    margin: 0;
    height: min-content;
    margin-top: -3em;
    margin-left: 1em;
    display: flex;
    font-weight: bold;
    align-items: center;
    font-size: 0.9em;
}
.inventory__shipbuild p {
    margin: 0;
}

.inventory__item__eat-button {
    padding: 5px 10px;
    background-color: var(--red); /* Choose a color that signifies health or energy */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .inventory__item__eat-button:hover {
        cursor: pointer;
    }
    .inventory__item__remove-button:hover {
        cursor: pointer;
    }


@media only screen and (max-width: 1600px) {
    .inventory__header__close-button button {
        position: absolute;
        width: 100%;
        height: 100%;
        background: unset;
        border: none;
    }
    .inventory__toggler button {
        position: absolute;
        width: 100%;
        height: 100%;
        background: unset;
        border: none;
    }
}