:root {
    --brown-extra-dark: #36241C;
    --brown-dark: #422C22;
    --brown: #4D3328;
    --brown-light: #644234;
    --brown-extra-light: #815F51;
    --beige-dark: #AA8B7E;
    --beige: #E6D5CE;
    --white: #F9F5F3;
    --blue: #2B4683;
    --red: #B4002B;
    --black: #000000;
    --yellow: #FFF625;
    --green: #24FF00;
    
    --gradient-brown-start: #36241C;
    --gradient-brown-end: #4D3328;
    --brown-gradient: linear-gradient(226deg, var(--gradient-brown-start) 0%, var(--gradient-brown-end) 102.74%);
    
    --gradient-beige-start: #815F51;
    --gradient-beige-end: #9E8276;
    --beige-gradient: linear-gradient(226deg, var(--gradient-beige-start) 0%, var(--gradient-beige-end) 102.74%);
}

html {
    font-size: 0.875em;
    font-family: 'Source Serif 4', serif;
    font-family: var(--font-family-base);
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    html {
    font-size: 1em;
  }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    width: 100vw;
    overflow: hidden;
    margin: 0;
    user-select: none;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}
main {
    height: 100%;
    margin: 0;
    padding: 0;
}

.game-container {
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

.location__title__container {
    margin-top: 1em;
    width: 16em;
    height: 7em;
    background-image: url(../Images/paper-title-background.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Jim Nightshade';
}

.location__title__container h1 {
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    margin-top: 0.1em;
}
.location__title__container p {
    font-weight: 500;
    margin: 0;
    margin-top: -0.35em;
    font-size: 1.25em;
    max-width: 175px;
    text-align: center;
    line-height: 1em;
}

.background-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: left center;
    filter: blur(1px);
    z-index: 1;
}

.game-container > *:not(.background-overlay) {
    z-index: 2;
}

.card-pack {
    display: flex;
    width: 65vw;
    margin-top: -20vh;
}

a {
    color: red;
}

.game-stats {
    background-image: url(../Images/gamestatsbackground.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    z-index: 3;
    font-weight: 600;
    height: 11.875em;
    width: 23em;
}

.badges-list {
    display: flex;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 52%;
    left: 50%;
    gap: 0.75em;
}

.single-tool__badge {
    width: 2.75em;
    height: 2.75em;
    background-size: cover;
    background-repeat: no-repeat;
}

.single-tool__badge__infobox {
    background-image: url(../Images/Icons/infobox-background-wide.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-50%);
    border-radius: 5px;
    border: 3px solid var(--black);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 10;
    transition-duration: 1s;
    padding: 0.5em 1.5em;
    box-sizing: border-box;
    left: 50%;
    bottom: 6.5em;
    height: 10.5em;
    width: 22em;
    display: flex;
    flex-direction: column;
}

.single-tool__badge__infobox:hover {
    visibility: visible;
    opacity: 1;
    transition-duration: 0.3s;
}

.single-tool__badge__infobox__enabled {
    visibility: visible;
    opacity: 1;
    transition-duration: 0.3s;
}

.infobox__description {
    margin: 0.25em 0;
}

.infobox__materials__container {
    display: flex;
}

.infobox__single__material__container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.infobox__material__title {
    margin: 0;
    font-size: 1.25em;
}

.infobox__single__material__icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-left: 10px;
}

.infobox__single__material__description {
    margin: 0;
}

.infobox__button--buy {
    background-color: var(--brown-dark);
    color: var(--white);
    text-decoration: none;
    border: 2px solid var(--black);
    border-radius: 5px;
    padding: 0.25em 0.75em;
    margin-top: 10px;
}

.infobox__button--buy:hover {
    background-color: var(--brown-extra-dark);
}

.game-stats__turns {
    transform: translateX(-50%);
    position: absolute;
    bottom: 13%;
    left: 50%;
}

.game-stats__info-text {
    transform: translateX(-50%);
    position: absolute;
    top: 12%;
    left: 50%;
}

.game-info-text {
    transform: translateX(-50%);
    position: absolute;
    top: 10%;
    display: none; 
    color: white;
    font-weight: bold;
    left: 50%
}

@media only screen and (min-width: 390px) {

    .single-tool__badge__infobox {
        bottom: 7.5em;
        width: 23em;
        height: 9em;
    }
    
    .badges-list {
        gap: 0.75em;
    }
    .single-tool__badge {
        width: 3em;
        height: 3em
    }
    .game-stats {
        height: 12em;
        width: 25em;
    }
}

@media only screen and (min-width: 768px) {
    .single-tool__badge__infobox {
        height: 9em;
    }
}

.game-stats__health {
    position: absolute;
    top: 24%;
    right: 15%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0.25em;
}

.icon--energy {
    width: 1em;
    background-image: url(../Images/icons/energy.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon--health {
    width: 1em;
    background-image: url(../Images/icons/heart.webp);
    background-size: contain;
    background-repeat: no-repeat;
}


.game-stats__energy {
    position: absolute;
    top: 24%;
    left: 15%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0.25em;
}

@media only screen and (max-width: 390px) {
    .game-stats {
        font-size: 0.9em;
    }
    .game-stats__turns {
        bottom: 13%;
    }
    .game-stats__energy {
        bottom: 30%;

    }
    .game-stats__health {
        bottom: 30%;
    }
    .game-stats__info-text {
        transform: translateX(-50%);
        position: absolute;
        top: 12%;
        left: 50%;
    }
}
@media only screen and (min-width: 1600px) {
    .game-stats {
        height: 13em;
        width: 26em;
    }
    .game-stats__turns {
        bottom: 13%;
    }
}

.navigation-buttons {
    position: absolute;
}

.button-toggle {
    padding: 1.75em;
    border-radius: 50%;
    border: 4px solid black;
    cursor: pointer;
    text-align: center;
    margin: 0;
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
}

.button-toggle.safe {
    background-color: var(--brown-dark)
}

form:has(.button-toggle) {
    position: fixed;
    margin-left: 40vw;
    top: 65vh;
    z-index: 5;
}

.button-toggle.risky {
    background-color: var(--red)
}

@media only screen and (max-width: 767px) {
    form:has(.button-toggle) {
        margin-left: 75vw;
        top: 60vh;
    }
}

.shipbuilding {
    border-radius: 8px 8px 0px 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    top: 20%;
    max-width: 75vw;
}

.shipbuilding__phase {
    background: var(--white);
    border-radius: 1.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shipbuilding__phase__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brown);
    border-radius: 1em 1em 0em 0em;
    padding: 0.4em;
}
.shipbuilding__phase__info {
    background-color: var(--white);
    display: flex;

    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 0em 0em 1em 1em
}

.shipbuilding__phase h2 {
    color: white;
    font-size: 1em;
    padding: 0.25em;
    margin: 0;
}

.shipbuilding__phase p {
    font-size: 0.9em;
    color: white;
    margin: 5px 0;
    color: var(--brown);
}

.shipbuilding__phase button {
    background-color: var(--beige-dark); 
    color: white; 
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.shipbuilding__phase button:hover {
    background-color: var(--brown-dark);
}


.shipbuilding__phase.deactive {
    opacity: 0.75; 
}

.materials-list {
    list-style: none;
    padding: 0.15em;
    display: flex;
    margin: 0;
    gap: 8px
}

.materials-list li {
    display: flex;
    align-items: center;
    position: relative;
}

.material-amount {
    position: absolute;
    bottom: 8px;
    left: 5px;
}

.material-icon {
    height: 2em;
    width: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2em;
}

    .material-icon.wood {
        background-image: url(/Images/Icons/wood.webp);
    }

    .material-icon.stone {
        background-image: url(/Images/Icons/stone.webp);
    }
    .material-icon.rope {
        background-image: url(/Images/Icons/rope.webp);
    }
    .material-icon.wool {
        background-image: url(/Images/Icons/wool.webp);
    }
    .material-icon.iron {
        background-image: url(/Images/Icons/iron.webp);
    }
    .material-icon.bamboo {
        background-image: url(/Images/Icons/bamboo.webp);
    }

@media only screen and (max-width: 768px) {
    .shipbuilding {
        max-width: 75%;
        margin-top: 0.5em
    }

    .shipbuilding__phase__name {
        font-size: 1.15em;
    }

    .shipbuilding__phase button {
        padding: 6px 8px;
        font-size: 1.1em;
    }

    .shipbuilding__phase__info {
        font-size: 1em;
        padding: 0.25em;
    }

    .shipbuilding .material-icon {
        height: 1.5em;
        width: 1.5em;
    }

    .shipbuilding .material-amount {
        bottom: 5px;
        left: 4px;
    }
}


@media only screen and (max-width: 389px) {
    .shipbuilding {
        gap: 8px;
        max-width: 65%;
        margin-top: -1em;
    }
    .shipbuilding__phase__name {
        font-size: 0.9em;
    }
    .shipbuilding__phase button {
        padding: 6px 8px;
        font-size: 0.9em;
    }
    .shipbuilding__phase__info{
        font-size: 0.75em;
        padding: 0.25em;
    }
    .shipbuilding .material-icon{
        height: 1.5em;
        width: 1.5em;
    }
    .shipbuilding .material-amount {
        bottom: 5px;
        left: 4px;
    }
    
}



.fight-page .location__title--header {
    margin-top: 0.5em;
}

.fight-page .location__title--description {
    margin: 0;
    font-size: 1.5em;
}

.fight-page .card {
    position: absolute;
    z-index: 5;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(8em*1.15);
    height: calc(12.25em*1.15);
}

.fight-page img.card__icon {
    height: 70px;
    width: 70px;
}

.fight-page-page .card--front {
    backface-visibility: visible;
}

.fight-page-question {
    display: flex;
    flex-direction: column;
    margin-top: 14em;
    gap: 0.5em;
    max-width: 90vw;
}
.fight-page-question h3 {
    margin: 0;
    border: 3px solid black;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 1em;
    background-color: var(--beige);
    font-size: 1.25em;
    font-weight: bold;
}

.fight-page-question form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-auto-rows: auto;
}

.fight-page-question button {
    border: 3px solid black;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: bold;
}

@media only screen and (max-width: 389px) {
    .fight-page .card {
        top: 32%;
        width: calc(8em*0.9);
        height: calc(12.25em*0.9);
    }
    .fight-page img.card__icon {
        height: 40px;
        width: 40px;
    }
    .fight-page-question {
        font-size: 0.9em;
    }

}

@media only screen and (min-width: 768px) {
    .fight-page .card {
        width: calc(8em*1);
        height: calc(12.25em*1);
        margin-top: 1em;
    }
    .fight-page-question {
        font-size: 0.9em;
        margin-top: 14em;
        max-width: 700px;
    }
}

@media only screen and (min-width: 1600px) {

    .fight-page .card {
        position: absolute;
        z-index: 5;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        width: calc(8em*1.15);
        height: calc(12.25em*1.15);
    }
    .fight-page img.card__icon {
        height: 70px;
        width: 70px;
    }

}


button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    div.location__title__container {
        margin-top: 1em;
    }

    div.toggler {
        width: 4em;
        height: 5em;
    }
    div.inventory__container {
        top: 8em;
    }

    div.shipbuilding__phase__name{
        font-size: 1.25em;
        padding: 0.25em;
    }

    div.shipbuilding button {
        font-size: 1em;
        border-radius: 1px 16px 0px 16px;
    }
    div.inventory__items__section {
        padding-top: 0em;
        padding-bottom: 0em;
    }
}

@media only screen and (min-width: 768px) and (max-height: 885px) {
    div.shipbuilding {
        display: grid;
        width: 65vw;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        justify-content: center;
        margin-top: 2em;
    }

    div.shipbuilding__phase {
        text-align: center;
    }


    div.shipbuilding form:last-child {
        grid-column: 1 / span 2; 
        width: calc(50% - 0.5em); 
        justify-self: center;
    }
}

.fight-page .fight-page-question button:hover {
    transition: 0.3s;
}
.fight-page .fight-page-question button:hover {
    background-color: var(--beige);
}


button:hover {
    cursor: pointer;
}

div.inventory__container__no-animation {
    transition-duration: 0s !important;
}


.game-container.endgame {
    background-image: url(../Images/endpage-mobile.webp);
}
.game-container.deathpage {
    background-image: url(../Images/death-mobile.webp);
}
.game-container.prisonpage {
    background-image: url(../Images/cheaterpage-mobile.webp);
}


@media only screen and (min-width: 769px){
    div.game-container.endgame {
        background-image: url(../Images/endpage-desktop.webp);
    }
    div.game-container.deathpage {
        background-image: url(../Images/death-desktop.webp);
    }
    div.game-container.prisonpage {
        background-image: url(../Images/cheaterpage-desktop.webp);
    }
}

.tutorial__container {
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    z-index: 5 !important;
    border: 3px solid var(--black);
    border-radius: 15px;
    display: grid;
    grid-template-rows: 50px minmax(500px, auto);
    width: 90%;
    max-width: 500px;
    height: 90%;
    max-height: 800px;
    overflow: hidden;
    background-color: var(--brown-extra-light);
}

.tutorial__header {
    border-bottom: 3px solid var(--black);
    text-align: center;
    background-color: var(--brown-extra-light);
}

.tutorial__image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

.tutorial__header__text {
    color: var(--white);
    font-weight: bold;
}

.show-tutorial__form {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 3 !important;
}

.show-tutorial__button {
    background-color: var(--brown-extra-light);
    color: white;
    border-radius: 3px;
    padding: 0.5em 1em;
    border: none;
}

.game-stats__info-text.info-text--special {
    color: white;
    left: 15%;
    top: -7%;
    font-weight: 500;
    transition: 0.5s;
    opacity: 1;
}

.game-stats__info-text.info-text--special--hidden {
    opacity: 0;
}
