.toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 7em;
    position: absolute;
    top: 15%;
    padding: 0.4em;
    box-sizing: border-box;
    border: solid var(--black);
}

.toggler__icon {
    width: 100%;
    object-fit: contain;
}

.map__toggler {
    right: 0;
    background: linear-gradient(to bottom right, var(--brown-extra-light), var(--beige-dark, #E6D5CE));
    border-radius: 30px 0 0 30px;
    border-width: 3px 0px 3px 3px;
}

.inventory__toggler {
    left: 0;
    background: linear-gradient(to bottom left, var(--brown-extra-light), var(--beige-dark, #E6D5CE));
    border-radius: 0 30px 30px 0;
    border-width: 3px 3px 3px 0px;
}

@media only screen and (min-width: 1600px) {
    .toggler {
        display: none;
    }
}


