@page
@model IndexModel

@{
    ViewData["Title"] = "Lost on Island";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Lost on Island!</h1>
    <a class="btn btn-primary btn-lg" asp-page="/Game/Prolog" role="button">Start Game</a>
</div>