@page
@model IndexModel

@{
    ViewData["Title"] = "Lost on Island";
}


<div class="game-container index-page">
    <div class="index__header__container">
        <h1 class="display-4 index__header">Lost on Island!</h1>
    </div>
    <a class="index__start-button" asp-page="/Game/Location" asp-route-locationId="1">Začít</a>
</div>