@page
@model lost_on_island.Pages.Game.CheaterModel
@{
    ViewData["Title"] = "Cheater Alert";
}


<h2>Cheater Alert</h2>
<p>It seems like you've tried to access a location in an invalid way. Please play the game fairly.</p>