@page
@model lost_on_island.Pages.Game.EndGameModel

<div class="game-container prolog-page endgame">
    <div class="location__title__container">
        <h1 class="location__title--font location__title--header">Konec</h1>
        <p class="location__title--font location__title--description">Dohrál jsi hru!</p>
    </div>

    <div class="turns-count__container">
        <p class="turns-count">Počet tahů: @Model.TotalTurns</p>
    </div>

    <div class="port_text">
        <span id="typed-text1" class="port_text__text">
        </span>

        <div class="port_text__buttons">
            <a class="port_text__button" asp-page="/Index" asp-route-locationId="0">Ukončit hru</a>
        </div>

    </div>

</p>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var typed1 = new Typed('#typed-text1', {
            strings: ["Dokázal jsi to! Odplouváš z ostrova hledat zpátky domov..."],
            typeSpeed: 25,
            showCursor: false,
            loop: false
        });
    });

</script>
