@page "/Game/Fight/{enemyId:int}"
@model lost_on_island.Pages.Game.FightModel

<h2>@Model.Enemy?.Title</h2>
@if (Model.Enemy != null)
{
    <img src="@Model.Enemy.Img" alt="@Model.Enemy.Title" />
    <p>@Model.Enemy.Description</p>

}
else
{
    <p>Informace o nepříteli nebyly nalezeny.</p>
}