@page
@model lost_on_island.Pages.Game.PrologModel
@{
    ViewData["Title"] = "Prolog";
}

<div class="game-container prolog-page">
    <div class="location__title__container">
        <h1 class="location__title--font location__title--header">Prolog</h1>
        <p class="location__title--font location__title--description">Úvod do hry</p>
    </div>
    <a class="index__start-button" asp-page="/Game/Location" asp-route-locationId="2">Pokračovat na Loď</a>

</div>