@page
@model lost_on_island.Pages.Game.PrologIslandModel
@{
    ViewData["Title"] = "Tichý oceán";
}

<div class="game-container prolog-page prolog-page--island">
    <div class="location__title__container">
        <h1 class="location__title--font location__title--header">Ostrov</h1>
        <p class="location__title--font location__title--description">Neznámo kde ; podzim 1923</p>
    </div>
    <div class="port_text">
        <span id="typed-text1" class="port_text__text">
        </span>
        <span id="typed-text2" class="port_text__text">
        </span>
        <span id="typed-text3">
        </span>
        <div class="port_text__buttons">
            <a class="port_text__button" asp-page="/Game/Location" asp-route-locationId="2">Pokračovat</a>
        </div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var typed1 = new Typed('#typed-text1', {
            strings: ["Dalšího dne tě ráno probudí rána"],
            typeSpeed: 25,
            onComplete: function () {
                startTyped2();
            },
            showCursor: false,
            loop: false
        });

        function startTyped2() {
            var typed2 = new Typed('#typed-text2', {
                strings: ["Vyjdeš ven z kajuty a zjistíš, že si ztroskotal na ostrově, tvá loď je bouřkou a nárazem celá poničená!"],
                typeSpeed: 25,
                startDelay: 1000,
                onComplete: function () {
                    startTyped3();
                },
                showCursor: false,
                loop: false
            });
        }

        function startTyped3() {
            var typed2 = new Typed('#typed-text3', {
                strings: ["Pro tvou záchranu musíš loď opravit, nemáš moc zásob a materiálu, proto se musíš vydat na ostrov..."],
                typeSpeed: 25,
                startDelay: 1000,
                showCursor: false,
                loop: false
            });
        }
    });

</script>